<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestCollection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>785CB4871D42711D00BD8436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>785CB49B1D42711E00BD8436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>785CB4A61D42711E00BD8436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
